Package: com.nscake.redditgold
Name: RedditGold
Depends: mobilesubstrate
Version: 1.2.0
Architecture: iphoneos-arm
Description: Enhancements to the Reddit app
Maintainer: Tanner Bennett <thepantsthief@me.com>
Author: Tanner Bennett <thepantsthief@me.com>
Section: Tweaks
Depiction: https://nscake.github.io/package.html?package=com.nscake.redditgold
SileoDepiction: https://nscake.github.io/depictions/com.nscake.redditgold.sileo.json
