Package: com.pantsthief.redditgold
Name: RedditGold
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: Enhancements to the Reddit app
Maintainer: Tanner Bennett
Author: Tanner Bennett
Section: Tweaks
